@model VehicleServiceModel
@inject IAgentService agentService

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrls" alt="Vehicle Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Address: <b>@Model.Location</b></h6>
            <h6>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </h6>

            <br/>
            <a asp-area="" asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated || this.User.IsAdmin())
            {
                var currentUserId = await agentService.GetAgentIdAsync(User.Id());

                if (await agentService.ExistsByIdAsync(User.Id()) == true&&Model.OwnerId == currentUserId)
                {
                    
                    <a asp-area="" asp-controller="Auction" asp-action="Create" 
                    asp-route-ownerId="@Model.OwnerId" class="btn btn-warning">Create Auction</a>

                    <a asp-area="" asp-controller="Vehicle" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit Vehicle</a>
                    <a asp-area="" asp-controller="Vehicle" asp-action="Delete" asp-route-id="@Model.Id"
                    class="btn btn-danger">Delete Vehicle</a>
                
                }

            }
        </div>
    </div>
</div>