@model VehicleCreationServiceModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Image URL...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label>
                <input asp-for="Year" class="form-control" placeholder="Production year...">
                <span asp-validation-for="Year" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" placeholder="Car Make...">
                <span asp-validation-for="Make" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="Model car...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage"></label>
                <input asp-for="Mileage" class="form-control" placeholder="123456">
                <span asp-validation-for="Mileage" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control" placeholder="23 Main Street, Anytown, USA 12345">
                <span asp-validation-for="Location" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageDivingRange"></label>
                <input asp-for="AverageDivingRange" class="form-control" placeholder="Optional...">
                <span asp-validation-for="AverageDivingRange" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power"></label>
                <input asp-for="Power" class="form-control" placeholder="Horsepower...">
                <span asp-validation-for="Power" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details"></label>
                <textarea asp-for="Details" rows="4" class="form-control" placeholder="Details..."></textarea>
                <span asp-validation-for="Details" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.VehicleTypeId"></label>
                <select asp-for="@Model.VehicleTypeId" class="form-control">
                    @foreach (var category in Model.VehicleType)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.VehicleTypeId" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>