@using AuctionVehicleProperty.Core.Contracts
@using AuctionVehicleProperty.Core.Models.Auctions
@model AuctionCreationServiceModel
@inject IAgentService agentService
@inject IAuctionService houseService

<div class="col-md-4">
    <div class="card mb-3">
       @*  <img class="card-img-top" src="@Model.ImageUrl" alt="House Image"> *@
        <div class="card-body text-center">
         @*    <h4>@Model.Vehicles</h4> *@
            <h6>Minimum Bid: <b>@Model.MinimumBidIncrement</b></h6>
            <h6>
                Srarting Price:
                <b>@String.Format("{0:f2}", Model.StartingPrice) BGN</b>
            </h6>
            <br />
            <form class="input-group-sm" asp-controller="House"
                  asp-area="Admin" asp-action="Confirm" asp-route-auctionId="@Model.Id" method="post">
                <input class="btn btn-success" type="submit" value="Confirm" />
            </form>
        </div>
    </div>
</div>